html, body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1 }
}

h1 {
  font-family: 'Ultra', serif;
  font-size: 24px;
}

h2 {
  font-family: 'Raleway', serif;
  font-size: 28px;
}

.content {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  .lead {
    font-family: 'Raleway', serif;
    font-size: 28px;
    font-weight: 300;
  }

  h2 {
    margin-bottom: -0.5em;
  }

  p, ul {
    font-size: 21px;
    line-height: 1.4em;
    font-weight: 300;
    margin: 1em 0;
  }

  img {
    width: 140%;
    margin-left: -20%;
    max-width: 100vw;

    @media (max-width: 1100px) {
      width: 100%;
      margin-left: 0;
      max-width: 100vw;
    }

    &.space-below {
      margin-bottom: 40px;
    }

    &.smallish {
      margin-left: 0;
      height: 500px;
      width: auto;
    }

    &.portrait {
      width: 100%;
      margin-left: 0;
    }
  }
}

.center {
  display: block;
  text-align: center;
}

hr {
  margin: 50px 0;
}
