.hero {
  width: 100%;
  height: 700px;
  max-height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
  max-width: 100vw;
  overflow: hidden;

  &.hero-jungle .hero-img {
    background-image: url('/img/jungle.jpg');
  }

  &.hero-gentrification .hero-img {
    background-image: url('/img/contrast.jpg');
  }

  &.hero-action .hero-img {
    background-image: url('/img/endit.jpg');
  }

  &.hero-seattle {
    background-color: #292929;
  }

  &.hero-handwritten {
    height: 200px;

    .text-unit h1 {
      font-family: 'Gloria Hallelujah', cursive;
      text-shadow: none;
      color: black;
    }
  }

  .focus {
    height: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }

  .hero-img {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    &.blurry {
      filter: grayscale(80%) brightness(50%);
    }

    &:not(.blurry) {
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }
  }

  .text-unit {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 96px;
      color: white;
      text-align: center;
      text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;

      @media (max-width: 950px) {
        font-size: 48px;
      }

      @media (max-width: 475px) {
        font-size: 36px;
      }
    }
  }
}
