.page-home {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./img/seattle.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -999;

    opacity: 0;
    animation: fadein 8s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }

  h1 {
    font-family: 'Ultra', serif;
    font-size: 64px;
    color: white;
    margin-left: 32px;

    opacity: 0;
    animation: fadein 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;

    @media (max-width: 600px) {
      font-size: 48px;
    }

    @media (max-width: 400px) {
      font-size: 24px;
    }
  }

  .quote {
    max-width: 600px;
    font-family: 'Raleway', serif;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 32px;
    font-size: 24px;
    color: white;

    opacity: 0;
    animation: fadein 2s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;


    span {
      margin-top: 16px;
      display: block;
      text-align: right;
      font-size: 16px;

      opacity: 0;
      animation: fadein 2s;
      animation-fill-mode: forwards;
      animation-delay: 2s;
    }
  }

  p {
    margin: 0;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1 }
}
